body,html{
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
}

.contain{
    display: flex;
    justify-content: center;
    text-align: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right,darkgreen,darkblue) 1;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 1rem;
    margin-top: 5%;
    font-size: x-large;
    padding: 3rem;
    flex-direction: column;
    gap: 1rem;
}



/* CSS */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid darkgreen;
  border-radius: 30px;
  box-shadow: darkblue 4px 4px 0 0;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


.supp{
  background-color: rgb(255, 73, 73);
}

#create{
  background-color:greenyellow;
}

.image{
  max-width: 9rem;
  border-radius: 1rem;
}

form:not(#order, #login){
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

form img{
  margin: 1rem;

}

.form_admin, .form_forget{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form_admin input{
  width: 30%;

}

.liens{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

#texte{
  display:none;
}
/* 
.parcourir{
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}

#texte{
  color: black;
}

#parcourir{
  border: solid 1px red;
  height: 7rem;
  opacity: 0;
} */

#mdpIc{
  width: 46rem;
}












@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media screen and (max-width:1326px) {

  .contain{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.liens{
  gap: 8rem;
}
}

@media screen and (max-width:800px) {
  form:not(#order, #login){
    flex-direction: column;
  }

  .liens{
    gap:1rem;
  }

  form img{
    margin: 0;
  
  }
  
}

@media screen and (min-width:800px) {
.parcourir{
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
}

#texte{
  color: black;
}

#parcourir{
  border: solid 1px red;
  height: 6rem;
  opacity: 0;
}

#texte{
  display: block;
}

}